/* Quicksand Font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* Raleway Font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: "Quicksand", serif;
    font-family: "Raleway", serif;
}

header{
    background-color: #F7F7F7;
    padding-top: 1px;
}
/* navbar start */

.navbar{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}
.logo h2{
    font-family: "Quicksand", serif;
    font-weight: 700;
    font-size: 2rem;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    cursor: pointer;
}
.nav-btn{
    font-family: "Quicksand", serif;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 8px 40px;
    border: none;
    border-radius: 12px;
    background-color: #FEA301;
    color: white;
    cursor: pointer;
}
.menu-item1{
    font-family: "Quicksand", serif;
    font-size: 1.3rem;
    font-weight: 700;
    color: #FEA301;
}
.menu-item2{
    font-family: "Quicksand", serif;
    font-size: 1.3rem;
    font-weight: 500;
    color: #01ACFD;
}
.menu-item3{
    font-family: "Quicksand", serif;
    font-size: 1.3rem;
    font-weight: 500;
    color: #05D4DF;
}
.menu-item4{
    font-family: "Quicksand", serif;
    font-size: 1.3rem;
    font-weight: 500;
    color: #5D58EF;
}
#toggle{
    display: none;
}
.mobile-line{
    display: none;
}
/* navbar end */
/* banner part start */
.banner-container{
    width: 90%;
    margin: auto;
    margin-top: 15px;
    padding-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.banner-txt h1{
    font-family: "Quicksand", serif;
    font-size: 4rem;
    font-weight: 700;
}
.span1{
    color: #FEA301;
}
.span2{
    color: #01ACFD;
}
.banner-txt p{
    font-family: "Quicksand", serif;
    font-size: 1.3rem;
    font-weight: 400;
    color: #111111;
    margin: 24px 0px;
}
.banner-txt button{
    font-family: "Quicksand", serif;
    font-size: 1.3rem;
    font-weight: 700;
    color: white;
    border-radius: 12px;
    border: none;
    background-color: rgb(17, 17, 17);;
    padding: 10px 40px;
    cursor: pointer;
}
.banner-img img{
    width: 100%;
}

/* curriculum */
.cur-container{
    width: 90%;
    margin: auto;
    background-image: url("assets/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
   
}
.cur-cards-container{
    display: flex;
    justify-content: space-between;
}


.cur-container h1{
    text-align: center;
    font-family: "Quicksand", serif;
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 80px;
}
.cur-card-one{
    width: 370px;
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    border: 0.94px solid rgb(222, 245, 255);
    padding: 55px 40px;
    border-radius: 18px;
}
.cur-card-one h2{
    font-family: "Quicksand", serif;
    font-size: 1.6rem;
    font-weight: 700;
    color: #202020;
    text-align: center;
    margin-bottom: 30px;
}
.paragraph{
    font-family: "Raleway", serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 28.3px;
    color: #808080;
    margin-bottom: 30px;
    height: 100%;
    text-align: center;
}
.card-btn1{
    width: 290px;
    border: none;
    background-color: transparent;
    font-family: "Quicksand", serif;
    font-size: 1.1rem;
    font-weight: 700;
    color: #64C8FF;
    cursor: pointer;
    
}
.card-one-img{
    text-align: center;
    margin-bottom: 30px;
  
}
.card-one-img img{
    width: fit-content;
    justify-content: center;
    align-items: center;
}

.cur-card-two{
    width: 370px;
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    border: 0.94px solid rgb(255, 244, 220);
    padding: 55px 40px;
    border-radius: 18px;
}
.card-two-img{
    text-align: center;
    margin-bottom: 30px;
   
}

.cur-card-two h2{
    font-family: "Quicksand", serif;
    font-size: 1.6rem;
    font-weight: 700;
    color: #202020;
    text-align: center;
    margin-bottom: 30px;
}
.card-two-img img{
    width: fit-content;
    justify-content: center;
    align-items: center;
}
.card-btn2{
    width: 290px;
    border: none;
    background-color: transparent;
    font-family: "Quicksand", serif;
    font-size: 1.1rem;
    font-weight: 700;
    color: #F0AA00;
    cursor: pointer;
    
}
.cur-card-three{
    width: 370px;
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    border: 0.94px solid rgb(242, 232, 255);
    padding: 55px 40px;
    border-radius: 18px;
}
.card-three-img{
    text-align: center;
    margin-bottom: 30px;
}
.cur-card-three h2{
    font-family: "Quicksand", serif;
    font-size: 1.6rem;
    font-weight: 700;
    color: #202020;
    text-align: center;
    margin-bottom: 30px;
}
.card-three-img img{
    width: fit-content;
    justify-content: center;
    align-items: center;
}
.card-btn3{
    width: 290px;
    border: none;
    background-color: transparent;
    font-family: "Quicksand", serif;
    font-size: 1.1rem;
    font-weight: 700;
    color: #8700FF;
    cursor: pointer;
    
}

.arrow-container{
    text-align: center;
    font-size: 3rem;
    padding: 80px 0px;
}
.arrow-left{
    padding: 20px;
    border-radius: 100px;
    background-color: orange;
    color: white;
    cursor: pointer;

}
.arrow-right{
    padding: 20px;
    border-radius: 100px;
    background-color: orange;
    color: white;
    cursor: pointer;

}

        /* stories start */

    .stories-section{
         background-image: url("assets/bg.png"), linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);;
         background-repeat: no-repeat;
         background-size: cover;
         background-position: center;
            padding-bottom: 3.75rem;
        }
        .move{
            font-family: "Quicksand", serif;
            font-weight: 500;
            font-size: 1.2rem;;
        }
    .stories-title{
        font-family: "Quicksand", serif;
        font-weight: 700;
        font-size: 2.9rem;
        text-align: center;
        padding: 60px 0px;
        
    }
    .stories-btn{
        display: flex;
        align-items: center;
    }
    .stories-btn button{
        margin: auto;
        font-family: "Quicksand", serif;
        font-weight: 700;
        font-size: 1.25rem;
        color: white;
        padding: 10px 60px;
        border: none;
        border-radius: 12px;
        background: rgb(17, 17, 17);
        cursor: pointer;
    }
    .card-section{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px 0px;

    }


    .card-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 16px;
        width: 90%;
        max-width: 1200px;
    }
    
    .card {
        background-color: white;
        border: 1px solid #ddd;
        border-radius: 16px;
     
        text-align: left;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        position: relative; 
    }
    
    .card img {
        width: 100%;
        height: auto;
        border-radius: 16px 16px 0px 0px;
        margin-bottom: 16px;
        position: relative;
    }
    
   

    
    .large-card {
        grid-column: span 2;
        grid-row: span 2;
    }
    .large-btn{
        font-family: "Raleway", serif;
        font-weight: 500;
        font-size: 1rem;
        position: absolute; 
        bottom: 270px; 
        left: 20%; 
        transform: translate(-50%, 50%); 
        background-color: #3CD8E8;
        color: white;
        border: none;
        padding: 15px 20px;
        border-radius: 50px;
        cursor: pointer;
    }
    .large-card-txt{
        padding: 40px;
    }
    .large-card-txt h2{
        font-family: "Quicksand", serif;
        font-weight: 700;
        font-size: 1.5rem;
        color: #000000;
        margin-bottom: 50px;
    }
    .large-card-txt p{
        font-family: "Raleway", serif;
        font-weight: 500;
        font-size: 1rem;
        color: #666666;
    }
   
    .small-card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .small-card h3{
        font-family: "Quicksand", serif;
        font-weight: 700;
        font-size: 1rem;
        color: #000000;
        padding: 30px 40px;
    }
    .small-btn{
        font-family: "Raleway", serif;
        font-weight: 500;
        font-size: 1rem;
        position: absolute; 
        bottom: 110px;
        left: 30px;
      
        background-color: #95B226;
        color: white;
        border: none;
        padding: 15px 20px;
        border-radius: 50px;
        cursor: pointer;
    }
    .blue-btn{
        background-color: #5D58F0;
    }


        /* stories end */

        /* Footer */
       
.footer {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 120px;
    background-color: #01ACFD;
 
}
.footer-logo{
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.footer-logo h2{
    color: white;
    font-family: "Quicksand", serif;
    font-weight: 700;
    font-size: 2.3rem;
}
.footer-logo img{
    width: 100%;
}
.footer div {

    margin: 10px;
}


.footer-left p {
    font-family: "Quicksand", serif;
        font-weight: 400;
        font-size: 1.3rem;
        color: white;
        padding-left: 18px;
        margin-top: 35px;
}

.footer-middle ul {
    list-style: none;
    padding: 0;
}
.footer-middle h3 {
    font-family: "Quicksand", serif;
        font-weight: 700;
        font-size: 24px;
        color: white;
        margin-bottom: 35px;
}

.footer-middle{
    margin-left: 150px;
}

.footer-middle ul li a {
    text-decoration: none;
    color: white;
    font-family: "Quicksand", serif;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;
    
}


.footer-right h3{
    font-family: "Quicksand", serif;
        font-weight: 700;
        font-size: 26px;
        color: white;
        padding-bottom: 20px;
}
.footer-right .social-icons img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    cursor: pointer;
}


    





                            /* Responsive */
@media screen and (max-width: 576px) {
    /* navbar */
    .logo h2{
        display: none;
    }
    .menu{
        display: none;
    }
    .nav-btn{
        display: none;
    }
    
    #toggle{
        display: block;
       font-size: 30px;
        padding: 15px 0px;
        cursor: pointer;

    }
    .mobile-line{
        display: block;
        border: 0.5px solid rgb(254, 163, 1);
    }
    /* navbar */
    /* banner part */
    .banner-container{
        flex-direction: column-reverse;
    }
    .banner-txt{
        text-align: center;

    }
    .banner-txt h1{
        font-size: 32px;
    }
    .banner-txt p{
        font-size: 14px;
        font-weight: 500;
    }
    .brr{
        display: none;
    }
    /* banner end */
    /* curriculum */
    .cur-container{
        width: 90%;
        margin: auto;
        background-image: url("assets/bg.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .cur-cards-container{
        flex-direction: column;
        align-items: center;
    }
    .cur-card-one{
        margin-bottom: 12px;
    }
    .cur-card-two{
        margin-bottom: 12px;
    }
    .cur-card-three{
        margin-bottom: 12px;
    }
    .cur-container h1{
        font-size: 1.8rem;
        margin-bottom: 30px;
    }

    .arrow-container{
        display: none;
    }
    /* stories */
    .stories-title{
        padding: 0px;
        font-size: 1.625rem;
    }
    .large-card{
        display: none;
    }
    .card-grid{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

    .small-btn{
        font-family: "Raleway", serif;
        font-weight: 500;
        font-size: 0.625rem;
        position: absolute; 
        bottom: 50px;
        left: 20px;

        background-color: #95B226;
        color: white;
        border: none;
        padding: 5px 10px;
        border-radius: 50px;
        cursor: pointer;
    }
    .blue-btn{
        background-color: #5D58F0;
    }

    .small-card h3{
        font-size: 0.625rem;
        padding: 15px 20px;
        padding-top: 0px;
    }
  
    .stories-btn button{
        font-size: 1rem;
        padding: 5px 30px;
    }

    .footer {
        flex-direction: column; 
        text-align: left; 
        align-items: flex-start;
        padding: 0px;
    }
  
    .footer-left p{
        padding: 0px;
    }
    .footer div {
        margin-bottom: 20px; 
    }

    .footer-right .social-icons img {
        margin-right: 0; 
    }

}
