/* Quicksand Font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* Raleway Font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: "Quicksand", serif;
    font-family: "Raleway", serif;
}

header{
    background-color: #F7F7F7;
    padding-top: 1px;
}
/* navbar start */

.navbar{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}
.logo h2{
    font-family: "Quicksand", serif;
    font-weight: 700;
    font-size: 2rem;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    cursor: pointer;
}
.nav-btn{
    font-family: "Quicksand", serif;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 8px 40px;
    border: none;
    border-radius: 12px;
    background-color: #FEA301;
    color: white;
    cursor: pointer;
}
.menu-item1{
    font-family: "Quicksand", serif;
    font-size: 1.3rem;
    font-weight: 700;
    color: #FEA301;
}
.menu-item2{
    font-family: "Quicksand", serif;
    font-size: 1.3rem;
    font-weight: 500;
    color: #01ACFD;
}
.menu-item3{
    font-family: "Quicksand", serif;
    font-size: 1.3rem;
    font-weight: 500;
    color: #05D4DF;
}
.menu-item4{
    font-family: "Quicksand", serif;
    font-size: 1.3rem;
    font-weight: 500;
    color: #5D58EF;
}
#toggle{
    display: none;
}
.mobile-line{
    display: none;
}
/* navbar end */
/* banner part start */
.banner-container{
    width: 90%;
    margin: auto;
    margin-top: 15px;
    padding-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.banner-txt h1{
    font-family: "Quicksand", serif;
    font-size: 4rem;
    font-weight: 700;
}
.span1{
    color: #FEA301;
}
.span2{
    color: #01ACFD;
}
.banner-txt p{
    font-family: "Quicksand", serif;
    font-size: 1.3rem;
    font-weight: 400;
    color: #111111;
    margin: 24px 0px;
}
.banner-txt button{
    font-family: "Quicksand", serif;
    font-size: 1.3rem;
    font-weight: 700;
    color: white;
    border-radius: 12px;
    border: none;
    background-color: rgb(17, 17, 17);;
    padding: 10px 40px;
    cursor: pointer;
}
.banner-img img{
    width: 100%;
}

/* curriculum */
.cur-container{
    width: 90%;
    margin: auto;
    background-image: url("assets/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 3.75rem;
   
}
.cur-container h1{
    text-align: center;
    font-family: "Quicksand", serif;
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 80px;
}
.cur-card-one{
    width: 370px;
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    border: 0.94px solid rgb(222, 245, 255);
    padding: 55px 40px;
    border-radius: 18px;
}
.cur-card-one h2{
    font-family: "Quicksand", serif;
    font-size: 1.6rem;
    font-weight: 700;
    color: #202020;
    text-align: center;
    margin-bottom: 30px;
}
.paragraph{
    font-family: "Raleway", serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 28.3px;
    color: #808080;
    margin-bottom: 30px;
    height: 100%;
    text-align: center;
}
.card-btn1{
    text-align: center;
    font-family: "Quicksand", serif;
    font-size: 1.1rem;
    font-weight: 700;
    color: #64C8FF;
    cursor: pointer;
    
}
.card-one-img{
    text-align: center;
    margin-bottom: 30px;
  
}
.card-one-img img{
    width: fit-content;
    justify-content: center;
    align-items: center;
}

.cur-card-two{
    width: 370px;
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    border: 0.94px solid rgb(255, 244, 220);
    padding: 55px 40px;
    border-radius: 18px;
}
.card-two-img{
    text-align: center;
    margin-bottom: 30px;
   
}

.cur-card-two h2{
    font-family: "Quicksand", serif;
    font-size: 1.6rem;
    font-weight: 700;
    color: #202020;
    text-align: center;
    margin-bottom: 30px;
}
.card-two-img img{
    width: fit-content;
    justify-content: center;
    align-items: center;
}
.card-btn2{
    text-align: center;
    font-family: "Quicksand", serif;
    font-size: 1.1rem;
    font-weight: 700;
    color: #F0AA00;
    cursor: pointer;
    
}
.cur-card-three{
    width: 370px;
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    border: 0.94px solid rgb(242, 232, 255);
    padding: 55px 40px;
    border-radius: 18px;
}
.card-three-img{
    text-align: center;
    margin-bottom: 30px;
}
.cur-card-three h2{
    font-family: "Quicksand", serif;
    font-size: 1.6rem;
    font-weight: 700;
    color: #202020;
    text-align: center;
    margin-bottom: 30px;
}
.card-three-img img{
    width: fit-content;
    justify-content: center;
    align-items: center;
}
.card-btn3{
    text-align: center;
    font-family: "Quicksand", serif;
    font-size: 1.1rem;
    font-weight: 700;
    color: #8700FF;
    cursor: pointer;
    
}

.cur-cards-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/* Responsive */
@media screen and (max-width: 576px) {
    /* navbar */
    .logo h2{
        display: none;
    }
    .menu{
        display: none;
    }
    .nav-btn{
        display: none;
    }
    
    #toggle{
        display: block;
       font-size: 30px;
        padding: 15px 0px;
        cursor: pointer;

    }
    .mobile-line{
        display: block;
        border: 0.5px solid rgb(254, 163, 1);
    }
    /* navbar */
    /* banner part */
    .banner-container{
        flex-direction: column-reverse;
    }
    .banner-txt{
        text-align: center;

    }
    .banner-txt h1{
        font-size: 32px;
    }
    .banner-txt p{
        font-size: 14px;
        font-weight: 500;
    }
    .brr{
        display: none;
    }
    /* banner end */
    /* curriculum */
    .cur-container{
        width: 90%;
        margin: auto;
        background-image: url("assets/bg.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .cur-cards-container{
        flex-direction: column;
      
    }
    .cur-card-one{
        margin-bottom: 12px;
    }
    .cur-card-two{
        margin-bottom: 12px;
    }
    .cur-card-three{
        margin-bottom: 12px;
    }
    .cur-container h1{
        font-size: 1.8rem;
        margin-bottom: 30px;
    }



}
